@use "navbar";
@use "header";
@use "variables" as *;

//$number: 5;
//$sum: 10 + 10;
//@debug "The sum is #{$sum}";

$colors: ("green", "blue", "pink");
@each $color in $colors {
  @debug $color;
  .color-#{$color} {
    background: #{$color};
  }
}

$fontWeights: (
  "normal": 400,
  "bold": 500,
  "extaBold": 600,
);
@each $key, $value in $fontWeights {
  @debug "The key is: #{$key}";
  @debug "The value is: #{$value}";
  .font-#{$key} {
    font-weight: $value;
  }
}

@debug map-get($map: $fontWeights, $key: normal);

$startLoop: 1;
$endLoop: 5;

@for $i from $startLoop through $endLoop {
  .fontsize-#{$i} {
    font-size: #{$i};
  }
}

$circle: "normal";

.header {
  width: 200px;
  height: 200px;
  @if $circle == "normal" {
    border-radius: 10px;
  } @else if $circle == "radius" {
    border-radius: 50%;
  } @else {
    border-radius: 0;
  }
}

@function grid($number) {
  @return calc(100% / 12 * $number);
}

.col-3 {
    width: grid(3);
}

%alert {
    padding: 15px;
    font-size: 14px;
    color: $white;
}

%alert-radius {
    border-radius: 25px;
}

.alert-danger {
    @extend %alert, %alert-radius;
    background: $red;
}

.alert-succes {
    @extend %alert, %alert-radius;
    background: #{nth($colors, 1)};
}

@mixin alert($bg, $radius){
    background: $bg;
    border-radius: $radius;
    color: $white;
    padding: 15px;
    font-size: 14px;
}

.alert-1 {
    @include alert($red, 15px);
}

.alert-2 {
    @include alert(#{nth($colors, 1)}, 15px);
}

.nav {
  width: 100%;
  height: 80px;
  background: $orange;
  line-height: 80px;
  &__ul {
    list-style: none;
    &__li {
      display: inline-block;
      &__a {
        text-decoration: none;
        color: $white;
        &--red {
          color: $red;
        }
        &--indigo {
          color: $indigo;
        }
      }
    }
  }
}
