nav {
  background: orange;
  color: black;
}

header {
  background: indigo;
  color: white;
}

.color-orange {
  background: orange;
}

.color-green {
  background: green;
}

.color-blue {
  background: blue;
}

.color-pink {
  background: pink;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 500;
}

.font-extaBold {
  font-weight: 600;
}

.fontsize-1 {
  font-size: 1;
}

.fontsize-2 {
  font-size: 2;
}

.fontsize-3 {
  font-size: 3;
}

.fontsize-4 {
  font-size: 4;
}

.fontsize-5 {
  font-size: 5;
}

.fontsize-6 {
  font-size: 6;
}

.fontsize-7 {
  font-size: 7;
}

.fontsize-8 {
  font-size: 8;
}

.fontsize-9 {
  font-size: 9;
}

.fontsize-10 {
  font-size: 10;
}

.fontsize-11 {
  font-size: 11;
}

.fontsize-12 {
  font-size: 12;
}

.fontsize-13 {
  font-size: 13;
}

.fontsize-14 {
  font-size: 14;
}

.fontsize-15 {
  font-size: 15;
}

.fontsize-16 {
  font-size: 16;
}

.fontsize-17 {
  font-size: 17;
}

.fontsize-18 {
  font-size: 18;
}

.fontsize-19 {
  font-size: 19;
}

.fontsize-20 {
  font-size: 20;
}

.header {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.nav {
  width: 100%;
  height: 80px;
  background: orange;
  line-height: 80px;
}
.nav__ul {
  list-style: none;
}
.nav__ul__li {
  display: inline-block;
}
.nav__ul__li__a {
  text-decoration: none;
  color: white;
}
.nav__ul__li__a--red {
  color: red;
}
.nav__ul__li__a--indigo {
  color: indigo;
}
