a {
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: underline;
    color: white;
    background-color: red;
}

a:visited {
    color: darkgreen;
    text-decoration: none;
}

a:focus {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: orange;
    text-decoration: none;
}