/* Todos los textos (excepto los headings) tendrán el siguiente color y tipo de letra */
* {
    color: #000078;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0px;
}

/* Headings */

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

/* Elementos centrados horizontalmente */
nav,
#seccion1_index,
#contenedor_central,
#seccion3_objetivos,
#seccion1_ult_envi {
    margin: 0 auto;
    width: 80%;
}

/* Barra de navegación superior */
ul {
    float: right;
    margin-top: 30px;
}

ul li {
    display: inline;
    margin-right: 15px;
}

nav img {
    height: 75px;
}

a {
    text-decoration: none;
}

/* Sección primera del Index */
#seccion1_index {
    overflow: auto;
    margin-bottom: 25px;
}

section iframe {
    float: right;
}

#seccion1_index div {
    width: 40%;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
}

button {
    background-color: #ffe000;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    font-size: 9px;
}

/* Sección 2 del index */
#seccion2_cifras {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

#contenedor_central div {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: bold;
}

.cifras {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 30px;
}

/* Sección 3 footer */

#seccion3_objetivos {
    text-align: center;
    margin-bottom: 50px;
}

#seccion3_objetivos div {
    text-align: left;
    padding: 35px;
    border-bottom: #f0f0f0 solid 2px;
}

/* Footer */

footer {
    background-color: #D0D0D0;
    text-align: center;
    border-top: #73EDFF solid 3px;
    font-size: 12px;
    height: 150px;
}


