.row {
    background: red;
    display: flex;
    height: 600px;
    justify-content: space-evenly;
    align-items: center;
}

.column {
    background: orange;
    height: 150px;
    margin: 20px;
    flex-basis: 150px;
}

